* {
  box-sizing: border-box;

}

a:link {
  text-decoration: none;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f3ce;  /* page background */
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #00293c;  /* Rams Blue #002244 - background of nav menu*/
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f1f3ce;    
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
  background-color: black;     
  color: white;    /* text */
}

.active {    /* active page marker */
  background-color: #1e656d;   /* background */
  
}

/* Style the lists to not be bulletted */
ul.demo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid-item {
  border: 0px;
  padding: 10px;
  font-size: 18px;
  text-align: left;
}
