body {
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

table.toctable {
  border: 1px solid black;
}

th.tocprimary {
  font-size:1.5vw;
  padding: 1px;
  border: 1px solid black;
  background-color: yellow;
}

th.tocsecondary {
  border: 1px solid black;
  font-size:1vw;
}


td {
  vertical-align: text-top;
  text-align: left;
}

p {
  line-height: 1.3;
  font-size:.75vw;
  margin: 1px 1px 1px 20px;
}
